.cell-content {
    transition: all 0.1s ease-in-out;
}
.focused:is(.mouse-hover, .mouse-set) {
    transform: translate(0.25rem, -0.25rem);
}
.dynamic-width {
    transition: width 0.1s;
}
.dynamic-margin {
    transition: margin 0.1s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}